body{background-color:#22577a}
h2{color:#C62020;
font-size:250%;
letter-spacing:6px;
text-decoration: underline;}
p{
  color:#C62020;
  font-size:130%;
}
h1{color:#ffffff;
font-size:120%;}
img{
  border: dashed #042242; 15px; 
 
}
iframe{
  border: dashed #000000; 10px;
}
img{ border: dotted #ff24c8; 15px;}
ul{list-style-type: none;
text-align: center;
position: fixed;
witdth: 100%;}
li{float:left;}
li a{padding: 10px;
font-family: "Comic Sans", Fantasy;
  color: #afa98d;
  text-decoration-line: none;
}
li a:hover{background-color: white;}
